<!-- <ion-header>
  <ion-toolbar>
    <ion-title>shops</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2.5">
        <div style="      height: 33px;
          width: 33px;
          background: #313946;
          color: white;
          text-align: center;
          border-radius: 4px;
          margin-top: 9px;
          margin-left: 9px;font-weight: bold;">
          <ion-icon name="arrow-back" style="    position: relative;
            top: 8px;"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="7">
        <p style="    text-align: center;
            color: white;
            font-weight: bold;">Body Shops</p>
      </ion-col>
      <ion-col size="2.5">
        <!-- <p>Body Shops</p> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <p style="    text-align: center;
      color: white;
      margin: 0;
      padding-top: 7px;">3 Suggestions</p>
  <!-- card 1 -->
  <ion-card style="background: white;border-radius: 9px;">
    <img style="height: 157px;object-fit: cover;" src="assets/images.jpg" alt="">
    <ion-title style="    color: black;
        font-weight: bold;font-size: 19px;
        padding: 14px 0px 0px 14px;
    ">
      Delta Body Shop
    </ion-title>
    <ion-card-content>
      <span style="color: #272755;"><strong> Address</strong></span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <span style="color: #272755;"> <strong>Phone</strong></span>
      <p>+923138801231</p>
    </ion-card-content>
    <div style="width:100%">
      <button style="    width: 50%;
      height: 45px;
      background: #e6edec;
      font-weight: 700;
      font-size: 17px;float: left;">Navigate</button>
      <button style="float: right;
      width: 50%;
      height: 45px;
      background: #1550e8;
      font-weight: 700;
      font-size: 17px;
      color: white;">Call</button>
    </div>
  </ion-card>
  <!-- card 2 -->
  <ion-card style="background: white;border-radius: 9px;">
      <img style="height: 157px;object-fit: cover;" src="assets/images.jpg" alt="">
      <ion-title style="    color: black;
          font-weight: bold;font-size: 19px;
          padding: 14px 0px 0px 14px;
      ">
        Delta Body Shop
      </ion-title>
      <ion-card-content>
        <span style="color: #272755;"><strong> Address</strong></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <span style="color: #272755;"> <strong>Phone</strong></span>
        <p>+923138801231</p>
      </ion-card-content>
      <div style="width:100%">
        <button style="    width: 50%;
        height: 45px;
        background: #e6edec;
        font-weight: 700;
        font-size: 17px;float: left;">Navigate</button>
        <button style="float: right;
        width: 50%;
        height: 45px;
        background: #1550e8;
        font-weight: 700;
        font-size: 17px;
        color: white;">Call</button>
      </div>
    </ion-card>
</ion-content>