<ion-content fullscreen>
<div style="width: 100%;height: 100%;background-color: #000000">
  <lottie-animation-view style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);"
          [options]="lottieConfig"
          [width]="100"
          [height]="100"
          (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
</div>
</ion-content>
