<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div>
    <img style="height: 100%;
    position: absolute;
    object-fit: cover;" src="assets/brain.jpg" alt="">
  </div>
  <!-- <img src="/assets/p2.jpg" style="    z-index: 111111;
  position: absolute;
  height: 69px;
  width: 69px;
  border-radius: 100px;
  bottom: 203px;
  left: 41%;" alt=""> -->
</ion-content>
<ion-footer style="    position: absolute;
bottom: 0;" no-border>
  <ion-grid style="padding: 0;">
    <ion-row>
      <img src="assets/p2.jpg" style="height: 16%;
      margin: auto;
      display: block;
      border-radius: 100%;
      position: relative;    top: 27px;
      margin-top: 20px;
      width: 16%;" alt="">
      <img style="position: relative;
      top: 1px;
      width: 100%;" src="assets/gola.png" alt="">
    </ion-row>
    <ion-row style="padding: 0;">
      <ion-col size="12" style="padding: 0;">
        <div style="background: white;
          height: 207px;
          width: 100%;">
          <p style="margin: 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus blanditiis dolor enim et eveniet, harum iste itaque libero maxime nesciunt nisi praesentium quas, ratione sed similique temporibus unde veritatis!</p>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
