<!-- <ion-header>
  <ion-toolbar>
    <ion-title>messinger</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2.5">
        <div style="      height: 33px;
      width: 33px;
      background: #e6edec;
      text-align: center;
      border-radius: 4px;
      margin-top: 9px;
      margin-left: 9px;font-weight: bold;">
          <ion-icon name="arrow-back" style="    position: relative;
        top: 8px;"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8.5">
        <ion-row>
          <ion-col size="3">
            <img style="height: 49px;
          width: 49px;
          border-radius: 100px;
          position: relative;
          top: -4px;" src="assets/p2.jpg" alt="">
          </ion-col>
          <ion-col size="9">
            <p style="font-weight: bold;
          margin: 0;">Harris</p>
            <p style="margin: 0;
          color: #3171e0;
          padding-top: 3px;">Admin Support</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style="background: #c6cad6;
position: relative;
top: -17px;">
  <p style="    text-align: center;
margin: 0;
position: relative;
top: -5px;">{{data | date:'mediumDate'}}</p>
  <!-- Left side wali -->
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img style="border-radius: 23px;
      height: 32px;
      float: right;
      margin-right: 7px;" src="assets/p2.jpg" alt="">
      </ion-col>
      <ion-col size="8" style="margin-top: 30px;">
        <div>
          <div style=" padding: 13px;
              background: #1b33c0;
              color: white;
              border-radius: 0px 10px 10px 10px;
              width:auto;
              float: right;
              position: relative;
              top: -17px;
              font-size: 12px;">
            <div style="           width: 8%;
            position: relative;
            left: -27px;
            top: -13px;
            border-right: 16px solid transparent;
            border-bottom: 17px solid #1b33c0;
            transform: rotate(180deg);
            outline: none;        "></div>
            <p style="    margin-top: -17px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod, quos id voluptas illum perferendis amet.</p>
            
          </div>
        </div>
        <!-- <div style=" float: left;
        width: 8%;
        position: relative;
        right: -1px;
        height: 10px;
        border-right: 16px solid transparent;
        border-bottom: 17px solid #1b33c0;
        transform: rotate(180deg);
        outline: none;"></div> -->
        <!-- <ion-icon style="float: left;" name="cellular"></ion-icon> -->
        <!-- <div style="    padding: 13px;
      background: #1b33c0;
      color: white;
      border-radius: 0px 10px 10px 10px;
      width: 92%;
      float: right;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod, quos id voluptas illum perferendis amet.
        </div> -->
      </ion-col>
      <ion-col size="2">

      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Right side wali -->
  <ion-grid>
    <ion-row>
      <ion-col size="2">

      </ion-col>

      <ion-col size="8" style="margin-top: 30px;">
          <div>
              <div style=" padding: 13px;
                  background: #f5f9ff;
                  color: grey;
                  border-radius: 10px 10px 10px 10px;
                  width: auto;
                  float: right;
                  position: relative;
                  top: -17px;
                  font-size: 12px;">
                <div style="     width: 8%;
                position: absolute;
                right: -17px;
                top: 8px;
                border-right: 34px solid transparent;
                border-bottom: 17px solid #f5f9ff;
                transform: rotate(90deg);
                outline: none;
            "></div>
                <p style="    margin-top: 3px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod, quos id voluptas illum perferendis amet.</p>
                
              </div>
            </div>
        <!-- <div style=" float: right;
        width: 8%;
        background: #dfe9f7;
        position: relative;
        right: 1px;
        height: 21px;
        border-radius: 0px 6px 37px 0px;"></div>
        <div style=" padding: 13px;
        background: #dfe9f7;
        color: black;
        border-radius: 10px 0px 10px 10px;
        width: 92%;
        float: left;">
          Ok what's you?
        </div> -->
      </ion-col>
      <ion-col size="2">
        <img style="border-radius: 23px;
          height: 32px;
          float: right;
          margin-right: 7px;" src="assets/p2.jpg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div style="      height: 37px;
          width: 37px;
          background: #e6edec;
          text-align: center;
          border-radius: 34px;
          margin-left: 9px;
          font-weight: bold;outline: none;" (click)="picker()">
          <ion-icon name="add" style=" position: relative;
            top: 7px;
            color: #1b33c0;
            font-size: 23px;"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="10">
        <input type="text" style="     width: 83%;
        outline: none;
        height: 37px;
        border-radius: 36px 0px 0px 30px;
        font-size: 14px;
        border: 0;
        background: #e6edec;
        padding-left: 14px;
        color: #9e9e9e;" placeholder="Type your message">
        <div style="    height: 37px;
        width: 13%;
        background: #e6edec;
        float: right;
        border-radius: 0px 60px 60px 0px;
        margin-right: 11px;">
          <ion-icon style="text-align: center;
          margin: auto;
          display: block;
          position: relative;
          top: 8px;
          font-size: 20px;
          color: #1b33c0;" name="mic"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
